SSH_SUCCESS_REGEX=Accepted .* for (\w+) from ([0-9.]+)
SSH_FAIL_REGEX=Failed .* for (\w+) from ([0-9.]+)

SSH_LOG_TYPE=file
#SSH_LOG_TYPE=journal # file | journal (default: file)
SSH_LOG_FILE="./test.log"